* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}
body {
    background: rgb(242, 220, 186);
    background: radial-gradient(circle, #f2dcbad5 0%, rgb(158, 130, 64) 100%);
}

.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 1rem;
}


.hidden {
    display: none;
}

#encrypt, #decrypt {
    min-width: 300px;
    width: auto;
}

h1 {
    margin: 5rem auto;
    text-align: center;
    font-size: 4.8rem;
}

main {
    display: flex;
    flex-direction: column;
    margin:  auto;
    border-radius: 6px;
    background-color: #83724a;
    width: 80%;
    max-width: 80rem;
    height: auto;
    padding: 2rem 2rem;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column ;
    min-width: 80%;
    align-items: center;
}

div {
    display: flex;
    margin: auto 2rem;
    gap: 5rem;
}

input , .result{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    padding: 1rem ;
    margin: 2rem auto;
    width: 90%;
    border-radius: 8px;
    border: none;
    outline: none;
    word-break: break-all;
}
input {
    height: auto;
}

button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    background-color: #f2dcba;
    margin: auto;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
}

button:hover {
    color: white;
    background-color: #4c4124;
}

button:focus {
    color: white;
    background-color: #4c4124;
    outline: none;
}

#key {
    min-width: 10rem;
    width: auto;

}

.result {
    width: 90%;
    min-height: 20rem;
    background-color: aliceblue;
    margin: 1rem;
}

img {
    pointer-events: none;
    user-select: none;
    width: 40rem;
    left: 0px;
    bottom: 0px;
    position: absolute;  
    z-index: -1;
}

footer {
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-style: italic;
    text-align: center;
    margin-top: 20rem ;
}

@media(max-width: 700px) {
    img {
        display: none;
    }
    
    input {
        width: 80%;
        margin: 2rem auto;
    }

    footer {
        margin-top: 3rem;
        display: fixed;
        bottom: 0;
    }
}